In [1]:
import sqlite3

cre=sqlite3.connect('region.csv')
cursor=cre.cursor()
cursor.execute('''
               CREATE TABLE region
               ("region_id" INTEGER,
               "region_name" TEXT)
               ''')
cursor.execute('''
               INSERT INTO region("region_id","region_name")
               VALUES (1,'Europe'),(2,'Americas'),(3,'Asia'),(4,'Middle East and Africa')
               ''')
cre.commit()
cursor.execute('SELECT * FROM region')
rows=cursor.fetchall()
# Get the column names
columns = [description[0] for description in cursor.description]

# Print the column names
print(columns)
for row in rows:
          print(row)

cursor.close()
cre.close()

['region_id', 'region_name']
(1, 'Europe')
(2, 'Americas')
(3, 'Asia')
(4, 'Middle East and Africa')

In [2]:
import pandas as pd

In [4]:
region1=pd.read_csv('region1.csv')
region1

   region_id            region_name
0          1                 Europe
1          2               Americas
2          3                   Asia
3          4  Midle East and Africa

In [7]:
region1.head()

   region_id            region_name
0          1                 Europe
1          2               Americas
2          3                   Asia
3          4  Midle East and Africa