In [1]:
import pandas as pd
import numpy as np

In [2]:
ser=pd.Series(np.random.randint(1,10,35))
#chọn ngẫu nhiên từ 1-9 trong 35 số ngẫu nhiên
ser

0     8
1     6
2     6
3     2
4     9
5     6
6     5
7     9
8     7
9     5
10    9
11    8
12    2
13    5
14    1
15    1
16    3
17    6
18    3
19    7
20    9
21    7
22    6
23    5
24    7
25    9
26    5
27    6
28    9
29    6
30    3
31    7
32    2
33    8
34    7
dtype: int32

In [3]:
df=pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  8  6  6  2  9
1  6  5  9  7  5
2  9  8  2  5  1
3  1  3  6  3  7
4  9  7  6  5  7
5  9  5  6  9  6
6  3  7  2  8  7